$primary-color-lighter: #c8bcd0; //Dark Text...
$primary-color-light: #aa99b4; 
$primary-color: #755586; //Light Text...
$primary-color-dark: #5c3f6c;
$primary-color-darker: #442b54;
$accent-color-light: #7ecccb;
$accent-color: #2b6d6c;
$accent-color-dark: #134746;

$neutral-color-light: #fcfcfc;
$neutral-color-dark: #1f1f1f;

$text-color-light: #fcfcfc;
$text-color-muted: #575757;
$text-color-dark: #1f1f1f;
$text-color-darker: #0f0f0f;
$text-color-darkest: #010101;